
/*PARA LA APP CATALOGO*/
.container{
    background: rosybrown;
  }
  
  .barra-buscador{
    background: #e5e8e8;
  }
  
  .btn-mio,.btn-mio:focus {
    background: rosybrown;
  }
  
  .btn-mio:hover{
    background: #6f8c8b;
    color: #e5e8e8;
  }