@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Yanone+Kaffeesatz&display=swap');

*{
    box-sizing: border-box;
}

img{
    display: block;
    width: 100%;
    height: auto;
    background-size: 25px 50px;
    background-size: 50% 50%;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 1 px;
    font-weight: bold;
}

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: #F3E7E7;
}

.section__titulo {
    text-align: center;
    font-size: 40px;
    color: #DDB9B9;
}

.contenedor{
    margin: auto;
    width: 98%;
}

.main{
  background: #F3E7E7;
  margin-top: 60px;
}

/*Estilos del  header*/
a:hover, a:active, a:focus, a:focus-within, a:visited{
    text-decoration: none;
  }
  
  .header{
      height: 60px;
  }
  
  .header .contenedor{
      display: flex;
      justify-content: space-between;
  }
  
  .logo, .icon-menu{
      margin: 5px;
  }
  
  .icon-menu{
      display: block;
      width: 40px;
      height: 40px;
      font-size: 30px;
      background: #DDB9B9;
      color: #ffffff;
      text-align: center;
      line-height: 45px;
      border-radius: 5px; /*un poco rendondeado*/
      margin-left: auto;
      cursor: pointer; /*para que aparezca el icono de la mano*/
  }


/*Estilos del menu*/

.nav{
    position: absolute;
    top: 20px;
    left: -100%;
    width: 100%;
    transition: all 0.4s;
}

.menu{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: auto;
}

.menu__link{
    display: block;
    padding: 15px;
    background: #e5e8e8;
    color: #000;
    text-decoration: none;
}

.menu__link:hover{
    background: #6f8c8b;
    color: #e5e8e8;
}

.menu__link:focus{
  background: #DDB9B9;
}

.mostrar{
    left: 0px;
}

/* Estilos del Banner*/
.banner{
    margin-top: -60px;
    position: relative;
    z-index: -1000; /*pone la imagen atras*/
    margin-bottom: 20px;
}

.banner .contenedor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); /*para que este totalmente centrado*/
    width: 100%;
    color: #000;
    text-align: center;
}

.banner__txt{
    display: none; /*en el movil no se ve*/
}

/*Estilos de info*/

.info__columna{
    background: #e5e8e8;
    color: #000;
    padding: 15px;
    margin-bottom: 30px;
    margin-top: -60px;
}

/*Estilos del curso*/
.productos__columna{
    position: relative;
    margin-bottom: 30px;
}

.productos__descripcion{
    position: absolute;
    top: 0;
    left: 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.5);
    width: 60%;
    height: 100%;
    padding: 5px;
}

.productos_titulo{
    font-size: 25px;
    margin: 5px 0;
    color: #ffffff;
}

.productos__img {
    width: 100%;
}

/*Estilos del footer*/

.footer {
    background: #6f8c8b;
    color: #000;
    padding: 10px;
    text-align: center;
    margin-top: 19px;
  }
  
  .footer .social [class^="icon-"] {
    display: inline-block;
    color: #6f8c8b;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    background: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 40px;
  }

  /*Estilos del resposive*/
@media(min-width:480px){
    .logo{
        font-size: 40px;
    }

    .banner__titulo{
        font-size: 30px;
        margin: 5px 0;
    }

    .banner__txt{
        display: block;
        font-size: 18px;
        margin: 5px 0;
    }

    .info, .productos{
        display: flex;
        justify-content: space-between;
        margin-top: -80px;
    }

    .info__columna{
        width: 32%;
    }

    .info__titulo{
        font-size: 30px;
        margin: 5px 0;
    }

    .productos{
        flex-wrap: wrap;
        margin-top: 0;
    }

    .section__titulo{
        width: 100%;
        color: #DDB9B9;
    }

    .productos__columna{
        width: 48%;
    }

    .footer .social [class^="icon-"] {
        margin: 0 10px;
    }

    img{
        display: inline-block;
    }
}

@media(min-width:500px) {  
  .banner__titulo {
    font-size: 30px;
  }
  .productos__titulo {
    font-size: 10px;
  }
  .nav{ 
    top: 80px;
  }
}

@media(min-width:768px) {  
    .banner__titulo {
      font-size: 50px;
    }
    .productos__titulo {
      font-size: 40px;
    }
    .nav{ 
      top: 80px;
    }
}

@media(min-width:1024px) {  
    .contenedor {
      width: 1000px;
    }
    .section__titulo {
      font-size: 50px;
      margin: 30px 0;
      color: #DDB9B9;
    }
    .nav {
      position: static;
      width: auto;
    }
    .menu {
      display: flex;
    }
    .icon-menu {
      display: none;
    }
    .menu__link {
      background: none;
      font-size: 20px;
    }
    .select {
      color: #000;
      background: #DDB9B9;
    }
    .banner__titulo {
      font-size: 60px;
      margin-top: -90px;
    }
    .banner__txt {
      font-size: 25px;
    }
    .info {
      margin-top: -90px;
    }
    .info__columna {
      padding: 30px;
    }
    .info__titulo {
      font-size: 40px;
      text-align: center;
    }
    .productos__descripcion {
      padding: 20px;
    }
    .productos__titulo {
      font-size: 50px;
    }
    .productos__txt {
      font-size: 20px;
    }
  }

@media(min-width:1280px) {
    .contenedor {
        width: 1200px;
    }
    .logo {
        font-size: 60px;
    }
    .banner .contenedor {
        top: 40%;
    }
    .info {
        margin-top: -95px;
    }
}